@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
:root {
  background-color: #f1f3f8;
}
.App {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Amiri', serif;
  overflow: hidden;
  background-color: #f1f3f8;
}
.container {
  display: flex;
  flex-direction: row;
}
.container h1 {
  font-size: 60px;
  text-align: center;
  color: #393b44;
}
.repo-container {
  width: 80%;
  height: 700px;
  margin: 50px;
  background-color: #d6e0f0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: scroll;
}
@media screen and (max-width: 600px) {
  .repo-container {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}
.repo-text {
  font-weight: 600;
  text-transform: uppercase;

}
.repo-description {
  font-weight: 900px;
  font-style: bold;
  color: darkred;
}
.list-head {
  text-align: center;
  font-weight: 800;
  text-transform: capitalize;
}
.footer {
  font-size: 15px;
  font-weight: 600;
}
.list {
  list-style: none;
}
.list2 {
  display: flex;
  justify-content: flex-start;
}
.followerNo {
  margin-right: 30%;
}
 a:visited {
  text-decoration: none;

 }
 a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}